asgiref==3.9.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
channels==4.0.0
charset-normalizer==3.4.1
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.5
daphne==4.0.0
distlib==0.3.9
Django==5.2.3
django-allauth==65.10.0
django-cleanup==9.0.0
django-htmx==1.23.2
filelock==3.18.0
geographiclib==2.0
geopy==2.4.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
lxml==5.3.1
numpy==2.2.3
pandas==2.2.3
pillow==11.3.0
platformdirs==4.3.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyOpenSSL==25.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
requests-futures==1.0.2
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.31.2
zope.interface==7.2
